@use "./partials/variables.scss" as *;

@import "bootstrap/scss/bootstrap";

$fa-font-path: "../webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";

@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

body {
    background-color: $backgroundColor;
    color: $textColor;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #2f3946;
}

*::-webkit-scrollbar-thumb {
    background-color: #5d6875;
    border-radius: 10px;
    border: 0px none #ffffff;
}

* {
    scrollbar-width: none;
    scrollbar-color: #5d6875 #2f3946;
}
